<h1 class="pizza-logo">{{#blink-away_component}}Pizza Time!{{/blink-away_component}}</h1>

<div id='main'>
  <h1>Number of guests: {{guestCount}}</h1>
  {{input value=guestCount type='range' min='0' max='200' id='slider'}}

  <h3 class='search-label'>Search for your Meetup group:</h3>
  {{#form-for controller action='searchGroups'}}
    {{input city}}
    {{input name label='Group'}}
    {{submit 'Find'}}
  {{/form-for}}

  <ul>
    {{#if selectedGroup}}
      <h2>{{selectedGroup.name}} - {{selectedEvent.name}}</h2>
      <h3>Number of guests: {{selectedEvent.guestCount}}</h3>
      <button {{action back}}>Back</button>
    {{else}}
      {{#each group in foundGroups}}
        <li>
          <button {{action 'selectGroup' group}}>{{group.name}}</button>
        </li>
      {{/each}}
    {{/if}}
  </ul>

  <div>
    <ul>
      <li>Cheese: {{cheeseAmount}}</li>
      <li>Pepperoni: {{pepperoniAmount}}</li>
      <li>Vegan: {{veganAmount}}</li>
    </ul>
    <ul>
      <li>Cola: {{colaAmount}}</li>
      <li>Diet Cola: {{dietColaAmount}}</li>
      <li>Sprite: {{spriteAmount}}</li>
    </ul>
  </div>

  <footer>
    DISCLAIMER: We are not responsible for left over pizza or not enough pizza.
  </footer>
</div>
