<h1>Pizza Time!</h1>

<input type="number" id="guests" min="0" max="100">

<div id="info">
  <ul>
    <label>Cheese:</label>
    <li id="cheese">{{cheeseAmount}}</li>
    <label>Pepperoni:</label>
    <li id="pepperoni">{{pepperoniAmount}}</li>
    <label>Vegan:</label>
    <li id="vegan">{{veganAmount}}</li>
  </ul>
  <ul>
    <label>Cola:</label>
    <li id="cola">{{colaAmount}}</li>
    <label>Diet Cola:</label>
    <li id="diet-cola">{{dietColaAmount}}</li>
    <label>Sprite:</label>
    <li id="sprite">{{spriteAmount}}</li>
  </ul>
</div>
