<h1 class="pizza-logo">{{#pizza-time}}Pizza Time!{{/pizza-time}}</h1>

<label id="guest-number">Number of guests: {{guestCount}} </label>
<div id="guest-count-slider">
  {{input value=guestCount type='range' min='0' max='200' id='slider'}}
</div>

<div id="info">
  <ul>
    <li>Cheese: {{cheeseAmount}}</li>
    <li>Pepperoni: {{pepperoniAmount}}</li>
    <li>Vegan: {{veganAmount}}</li>
  </ul>
  <ul>
    <li>Cola: {{colaAmount}}</li>
    <li>Diet Cola: {{dietColaAmount}}</li>
    <li>Sprite: {{spriteAmount}}</li>
  </ul>
</div>
<footer>
  DISCLAIMER: We are not responsible for left over pizza or not enough pizza.
</footer>
